{% extends 'base.html.twig' %}

{% block title %}Lista de Tareas{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h2>Lista de Tareas✅</h2>

        <table>
            <tr>
                <th>Tarea</th>
                <th>Prioridad</th>
                <th>Horas Presupuestadas</th>
                <th>Acciones</th>
            </tr>

            {% for task in task %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>
                    {% if task.priority == 'HIGH' %}
                        {{ 'Alta' }}

                        {% elseif  task.priority == 'MEDIUM'%}
                        {{ 'Media' }}

                        {% elseif  task.priority == 'LOW'%}
                        {{ 'Baja' }}
                    {% endif %}
                    </td>
                    <td>{{ task.hours }}</td>
                    <td class="button">
                        <a href="" class="edit">Editar</a>
                        <a href="{{ path('task_detail',{'id':task.id}) }}" class="show">Ver</a>
                        <a href="" class="delete">Borrar</a>
                    </td>
                </tr>
            {% endfor %}

        </table>

    </div>
{% endblock %}
